@tailwind base;
@tailwind components;

@font-face {
  font-family: "Avenir Black";
  src: url("/fonts/AvenirLTPro-Black.woff");
}

@font-face {
  font-family: "Avenir Heavy";
  src: url("/fonts/AvenirLTPro-Heavy.woff");
}

@font-face {
  font-family: "Avenir Book";
  src: url("/fonts/AvenirLTPro-Book.woff");
}

@tailwind utilities;
